@media screen and (max-width:720px){
    
    .flex-container-bg>p{
        width:100%;
    }
    .flex-container-bg>h3{
        width: 100%;
    }
}
#tochangefont>a{
    font-size: xx-large;
    font-weight: 500;
    font-style: oblique;
    margin-left: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
}
li{
    font-size: x-large;
    font-weight: 500;
    font-style: oblique;
    margin:10px;
}

.mycontainermod2>img{
    border-radius: 50%;
    height: 200px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:  whitesmoke;
    padding: 2%;
    
}
.card-header{
    font-size: large;
}

.mycontainermod4>p{
    font-family: 'Times New Roman', Times, serif;
}
.nav-link{
    color:white !important;
}

.flex-container{
    margin-right:0%;
    margin-left:0%;
    margin-top: 140px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    /*font-size: x-large;*/
    font-family: 'Times New Roman', Times, serif;
}
.mycontainermod7>button{
    font-weight: 500;
    /*font-size: x-large;*/
}
.fa{
    font-size:25px;
    width:50px;
}
.fab{
    padding:20px 20px 20px 0px;
    font-size: 30px;
    width:50px;
    text-align: center;
    text-decoration: none;
    margin:1px 1px;
}
#change>.fab{
    color: black;
}
.far{
    font-size:25px;
    width:50px;
}
.flex-container-bg{
    margin-top: 50px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    /*display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    font-size: x-large;*/
}
.mycontainermod3>img{
    border-radius: 20%;
    height: 200px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.flex-container-bg>h3{
    text-align: center;
}
.mycontainermod5{
    margin-top: 50px;
    text-align: center;
    /*font-size: x-large;*/
}

.button1{
    border-radius:20%;
    background-color: black;
    color: white;
    padding: 1% ;
    font-weight: 500;
}
.mycontainermod4>p{
    margin-bottom: 5%;
}

.mycontainermod5>h4{
    text-decoration-line: underline;
    text-decoration-color: black;
    padding:20px;
}
.flex-container-bg2{
    margin-right:10%;
    margin-left:10%;
    margin-top: 20px;
    /*font-size: x-large;*/
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
.mycontainermod7{
    margin-bottom: 4%;
}
.centrio{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color:black;
    font-size: x-large;
}
.progress{
    width:100% ;
}
.mycontainermod8{
    margin-top: 10px;
    text-align: center;
    width:100%; 
    margin-left: 0%; 
    
}
.mycontainermod8>.card{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.mycontainermod9{
    text-align: center;
}
.mycontainermod10{
    margin-top: 80px;
    padding:5%;
    text-align: center;
    background-color: #343a40!important;
    color: white;
    font-weight: 500;
    font-style: oblique;
}
.fas{
    color:red !important;
    width:4%;
}
#chan>.fab{
    color:white;
}
.card-deck{
    margin-top: 5%;
}
.cont .fas{
    margin-right: 2%;
}
.cont{
    /*font-size: x-large;*/
}
.new{
    background-color: grey;
}
.card-footer{
    background-color:grey!important;
    font-size: large;
    
}
.ch{
    color:white;
}

